<div class="search">
    <div class="SearchConteiner">
        <span>MANUAL DE PROGRAMACION WEB</span>
        <form class="formSearch" action="">
            <input class = "search" type="text" name="search" placeholder="Busca lo que deaseas saber...">
            <input class = "button" type="submit" value="consultar">
        </form>
    </div>
    <div class="icons">
        <a href="/create"><i class="fas fa-plus"></i></a>
        <a href="/edit"><i class="far fa-edit"></i></a>
    </div>
</div>
<div class="containerNav">
    <div class="modules" >
        <div class="item"> html</div>
        <div class="item">css</div>
        <div class="item">javascript</div>
        <div class="item">json</div>
        <div class="item">json</div>
        <div class="item">json</div>
        <div class="item">json2</div>
    </div>
</div>
