<div class="Search">
    <span>MANUAL DE PROGRAMACION WEB </span>
    <div>
        <form action="">
            <input class="search" type="text" name="search">
        </form>
        <a href="/create"><i class="fas fa-plus"></i></a>
        <a href="/edit"></a>
    </div>
</div>
<div class="modules">
    <span>html</span>
    <span>css</span>
    <span>JavaScript</span>
</div>